<cart-drawer class="group/cart-drawer fixed inset-0 pointer-events-none data-[active]:pointer-events-auto" data-active>
  <button
    type="button"
    class="bg-black/50 absolute inset-0 opacity-0 transition-opacity group-data-[active]/cart-drawer:opacity-100"
    onclick="this.closest('.group\\/cart-drawer').removeAttribute('data-active')"
  ></button>
  <form
    action="{{ routes.cart_url }}"
    method="post"
    class="group/cart w-[min(90%,_40rem)] flex flex-col text-black bg-white ml-auto absolute right-0 h-full translate-x-full duration-500 ease-in-out transition-transform group-data-[active]/cart-drawer:translate-x-0"
  >
    <header class="p-4 py-6 lg:p-12 flex items-center">
      <p class="text-3xl leading-none flex items-start gap-2">
        Cart
        <cart-count
          class="hidden data-[active]:inline-flex items-center justify-center align-middle rounded-full bg-gray-100 text-black w-6 aspect-square text-xs"
          {% if cart.item_count > 0 %}
            data-active
          {% endif %}
        >
          {{- cart.item_count -}}
        </cart-count>
      </p>
      <div class="flex gap-2 ml-auto">
        {% if cart.item_count > 0 %}
          <clear-cart-button data-target="cart-drawer.clear">
            <button
              type="button"
              class="ml-auto py-2 px-4 bg-gray-100 rounded-md grid place-items-center text-black"
            >
              Clear
            </button>
          </clear-cart-button>
        {% else %}
          <template data-target="cart-drawer.clear"></template>
        {% endif %}
        <button
          type="button"
          onclick="this.closest('.group\\/cart').removeAttribute('data-active')"
          class="bg-black ml-auto py-2 px-4 rounded-md grid place-items-center text-white"
        >
          Close
        </button>
      </div>
    </header>
    <div class="grow flex flex-col">
      <section
        data-target="cart-drawer.items"
        class="grow overflow-auto group-data-[loading]/cart:cursor-wait "
      >
        {% render 'cart-items' %}
      </section>
      {% if cart.item_count > 0 %}
        <footer class="px-4 py-6 lg:p-12 border-t empty:border-none flex flex-col">
          {%- if cart.item_count > 0 %}
            <div class="text-xl flex mb-8">
              <span>Total</span> <span class="ml-auto">{{ cart.total_price | money }}</span>
            </div>
            <button type="submit" name="checkout" class="bg-black text-white rounded-md py-2 px-4 ml-auto w-fit">
              Checkout
            </button>
          {% endif -%}
        </footer>
      {% endif %}
    </div>
  </form>
</cart-drawer>
